
<style>
    div.ProjectOrder_0 {
    }

    div.ProjectOrder_1 {
        padding-left: 20px;
    }
</style>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a></a>
            <a class="navbar-brand" asp-area="" asp-controller="TimeDoctor" asp-action="Logout">Logout</a>
        </div>
    </nav>
</header>
<div class="container mt-5">
    <div class="row mb-2">
        <div class="col-md-6">
            <label>Select Company</label>
            <select class="form-control" name="companyId" id="companyId">
                <option value="">--Select Company--</option>
                @foreach (var company in ViewBag.Companies)
                {
                    <option value="@company.Id">@company.Name</option>
                }
            </select>
        </div>
        <div class="col-md-6">
            <label>Select Grouping</label>
            <select class="form-control" name="groupBy" id="groupBy">
                @foreach (var s in ViewBag.GroupByTypes)
                {
                    <option value="@s.Value">@s.Text</option>
                }
            </select>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <label>From Date:</label>
            <input type="date" class="form-control" placeholder="From Date" id="from" name="from" value="" />
        </div>
        <div class="col-md-6">
            <label>To Date:</label>
            <input type="date" class="form-control" placeholder="To Date" id="to" name="to" value="" />
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <label>Select User</label>
            <select class="form-control" name="userId" id="userId">
                <option value="">--Select User--</option>

            </select>
        </div>
        <div class="col-md-6">
            <label>Select Project</label>
            <select class="form-control" name="projectId" id="projectId">
                <option value="">--Select Project--</option>
            </select>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-12" style="margin-top:30px; text-align:center;">
            <button type="button" class="btn btn-primary" id="searchBtn">Search</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <span><b>Project Name</b></span>
        </div>
        <div class="col-md-5">
            <span style="padding-left:20px;"><b>Task Name</b></span>
        </div>
        <div class="col-md-2" style="display:none;" id="userNameShowHide">
            <span style="padding-left:20px;"><b>User Name</b></span>
        </div>
        <div class="col-md-2 text-right">
            <span><b>Total Hour</b></span>
        </div>
    </div>
    <div id="data-section">
    </div>
    @*@foreach (var prot in Model)
        {
            <div class="ProjectOrder_@prot.Order row">
                <div class="col-md-3">
                    <span>@prot.ProjectName</span>
                </div>
                <div class="col-md-7">
                    <span>@prot.TaskName</span>
                </div>
                <div class="col-md-2 text-right">
                    <span>@prot.TotalHour</span>
                </div>
            </div>
        }*@
</div>
@section scripts{
    <script>
        var users = [];
        $(document).on("click", "#searchBtn", function (e) {
            var fromDate = $("#from").val();
            var toDate = $("#to").val();
            var userId = $("#userId").val();
            var projectName = $("#projectId").val();
            var companyId = $("#companyId").val();

            if (userId === "") {
                var userIds = users.map(s => s.id);
                userId = userIds.join(",");
            }

            var input = {
                from: fromDate,
                to: toDate,
                userId: userId,
                projectName: projectName,
                companyId: companyId,
                groupByType: $("#groupBy").val()
            };

            $.ajax({
                url: "/TimeDoctor/GetTimeDoctorData",
                type: 'POST',
                data: { input: input },
                cache: false,
                async: true,
            }).done(function (response) {
                var groupByType = $("#groupBy").val();
                if (groupByType === "0" || groupByType === "1") {
                    $("#userNameShowHide").hide();
                } else {
                    $("#userNameShowHide").show();
                }
                $("#data-section").html(response);
            }).fail(function (xhr) {
                console.log('error : ' + xhr.status + ' - ' + xhr.statusText + ' - ' + xhr.responseText);
            });

        });

        $(document).on("change", "#companyId", function (e) {
            e.preventDefault();
            e.stopImmediatePropagation();

            if ($("#companyId").val() === "") {
                $("#projectId").empty();
                $("#projectId").append("<option value=''>--Select Project--</option>");

                $("#userId").empty();
                $("#userId").append("<option value=''>--Select User--</option>");
                return false;
            }

            $.getJSON("/TimeDoctor/GetDropdowns?companyId=" + $("#companyId").val(), "", function (response) {

                $("#userId").empty();
                $("#userId").append("<option value=''>--Select User--</option>");
                users = response.users;
                $.each(response.users, function (i, v) {
                    $("#userId").append("<option value='" + v.id + "'>" + v.name + "</option>")
                });

                $("#projectId").empty();
                $("#projectId").append("<option value=''>--Select Project--</option>");
                $.each(response.projects, function (i, v) {
                    $("#projectId").append("<option value='" + v.name + "'>" + v.name + "</option>")
                });
            });
        });
    </script>
}
