
<style>
    div.ProjectOrder_0 {
    }

    div.ProjectOrder_1 {
        padding-left: 20px;
    }
</style>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a></a>
            <a class="navbar-brand" asp-area="" asp-controller="TimeDoctor" asp-action="Logout">Logout</a>
        </div>
    </nav>
</header>
<div class="container mt-5">
    <div class="row mb-2">
        <div class="col-md-6">
            <label>From Date:</label>
            <input type="date" class="form-control" placeholder="From Date" id="from" name="from" value="" />
        </div>
        <div class="col-md-6">
            <label>To Date:</label>
            <input type="date" class="form-control" placeholder="To Date" id="to" name="to" value="" />
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <label>Select User</label>
            <select class="form-control" name="userId" id="userId">
                <option value="">--Select User--</option>
                @foreach (var user in ViewBag.Users)
                {
                    <option value="@user.Id">@user.Email</option>
                }
            </select>
        </div>
        <div class="col-md-6">
            <label>Select Project</label>
            <select class="form-control" name="userId" id="projectId">
                <option value="">--Select Project--</option>
                @foreach (var project in ViewBag.Projects)
                {
                    <option value="@project.Name">@project.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-12" style="margin-top:30px; text-align:center;">
            <button type="button" class="btn btn-primary" id="searchBtn">Search</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <span><b>Project Name</b></span>
        </div>
        <div class="col-md-7">
            <span style="padding-left:20px;"><b>Task Name</b></span>
        </div>
        <div class="col-md-2 text-right">
            <span><b>Total Hour</b></span>
        </div>
    </div>
    <div id="data-section">
    </div>
    @*@foreach (var prot in Model)
        {
            <div class="ProjectOrder_@prot.Order row">
                <div class="col-md-3">
                    <span>@prot.ProjectName</span>
                </div>
                <div class="col-md-7">
                    <span>@prot.TaskName</span>
                </div>
                <div class="col-md-2 text-right">
                    <span>@prot.TotalHour</span>
                </div>
            </div>
        }*@
</div>
@section scripts{
    <script>
        $(document).on("click", "#searchBtn", function (e) {
            var fromDate = $("#from").val();
            var toDate = $("#to").val();
            var userId = $("#userId").val();
            var projectName = $("#projectId").val(); 
            $.ajax({
                url: "/TimeDoctor/GetTimeDoctorData?from=" + fromDate + " &to=" + toDate + "&userId=" + userId + "&projectName=" + projectName,
                type: 'GET',
                cache: false,
                async: true,
            }).done(function (response) {
                debugger;
                $("#data-section").html(response);
            }).fail(function (xhr) {
                console.log('error : ' + xhr.status + ' - ' + xhr.statusText + ' - ' + xhr.responseText);
            });
            //$.getJSON("/TimeDoctor/GetTimeDoctorData?from=" + fromDate + "&to=" + toDate + "&userId=" + userId, "", function (response) {
            //    if (response != null) {
            //        $("#data-section").html(response);
            //    }
            //});
        });
    </script>
}
