@model List<ClickUpIntegration.Models.TimeDoctor.WorkLogByUser>


@foreach (var user in Model)
{
    @if (user.GroupByType == (int)ClickUpIntegration.Models.TimeDoctor.TimeDoctorEnums.GroupByTypeEnum.GroupByTask)
    {
        @foreach (var prot in user.UserData)
        {
            <div class="ProjectOrder_@prot.Order row">
                <div class="col-md-3">
                    <span>@prot.ProjectName</span>
                </div>
                <div class="col-md-5">
                    <span>@prot.TaskName</span>
                </div>
                <div class="col-md-2 text-right">
                    <span>@prot.TotalHour</span>
                </div>
            </div>
        }
    }
    else if (user.GroupByType == (int)ClickUpIntegration.Models.TimeDoctor.TimeDoctorEnums.GroupByTypeEnum.GroupByUser)
    {
        <div class="row">
            <div class="col-md-3">
                <span>User : @user.UserName</span>
            </div>
            <div class="col-md-5">
                <span></span>
            </div>
            <div class="col-md-2 text-right">
                <span>@user.TotalUserTime</span>
            </div>
        </div>
        @foreach (var prot in user.UserData)
        {
            <div class="ProjectOrder_@prot.Order row">
                <div class="col-md-3">
                    <span>@prot.ProjectName</span>
                </div>
                <div class="col-md-5">
                    <span>@prot.TaskName</span>
                </div>
                <div class="col-md-2 text-right">
                    <span>@prot.TotalHour</span>
                </div>
            </div>
        }
        <br />
    }
    else if (user.GroupByType == (int)ClickUpIntegration.Models.TimeDoctor.TimeDoctorEnums.GroupByTypeEnum.GroupByTaskAndUser)
    {
        @foreach (var prot in user.UserData)
        {
            <div class="ProjectOrder_@prot.Order row">
                <div class="col-md-3">
                    <span>@prot.ProjectName</span>
                </div>
                <div class="col-md-5">
                    <span>@prot.TaskName</span>
                </div>
                <div class="col-md-2">
                    <span>@prot.UserName</span>
                </div>
                <div class="col-md-2 text-right">
                    <span>@prot.TotalHour</span>
                </div>
            </div>
        }
    }
}
